$black: #000;
$dark-pink: #d90f5a;
$caribbean-green: #0de5a8;
$medium-turquoise: #30c4c9;
$burnt-orange: #ff6e27;
$strong-blue: #005bc5;
$vivid-orange: #ffb60b;
$dark-magenta: #4f2958;
$dark-blue: #212d44;
$strong-green: #88c100;
